body {
    background-color: #87AE73;
    font-family: Arial;
}

/* Style for the navigation bar */
nav {
    display: flex;
    
    background-color: steelblue;
    padding: 10px;
    color: white;
}

nav ul {
    display: flex;
    flex-wrap: wrap; /* Ensures the list items wrap when needed */
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

nav ul li {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1 1 auto; /* Allows items to shrink and grow as needed */
}

nav ul li a {
    color: Black;
    text-decoration: none;
}

nav ul li:hover {
    background-color: #555;
}

.services-class {
    color: black;
}

.submenu {
    display: none;
    position: absolute;
    background-color:steelblue;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.submenu li {
    padding: 5px 10px;
}

.submenu li a {
    color: black;
    text-decoration: none;
}

.submenu li:hover {
    background-color: #555;
}

li:hover .submenu {
    display: block;
}

.services-button{
    background-color: red;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.services-dropdown {
    position: relative;
    display: inline-block;
}

.services-content {
    display: none;
    position: absolute;
    background-color: bisque;
    min-width: 300px;
    z-index: 10;
}

.services-content > a {
    color: black;
    padding: 25px;
    text-decoration: none;
    display: block;
}

.services-content > a:hover {
    background-color: aqua;
}

.services-dropdown:hover .services-content {
    display: block;
}

.services-dropdown:hover .services-button {
    background-color: blue;
}
